.env
frontend/node_modules
frontend/package-lock.json
frontend/yarn.lock
frontend/.env
frontend/build
frontend/dist
api/node_modules
api/.env
api/package-lock.json
api/yarn.lock
api/dist
api/build
.vercel
